<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>
</head>
<body>
<table>
      <% for(let i = 0;i < requests.topic.length ; i++){
           for(let j=0;j< requests.topic[i].request.length;j++){%>
        <tr>
         <td>

      <div class="list-group-item" >
          <span style="text-decoration:underline";><%- requests.topic[i].topicname %></span><br><br>
          <span><%- requests.topic[i].request[j] %></span></div><br>
        </td>
          <td>
            <a href="/accept/<%- requests.topic[i].request[j] %>/<%- requests.topic[i].topicname %>" class="button">Accept</a>
          </td>
          <td><a href="/deny/<%- requests.topic[i].request[j] %>/<%- requests.topic[i].topicname %>" class="button">Deny</a></td>
        </tr>
        <% } %>
       <% } %>

</table>
  <div class="list-group">

    </div>

  </body>
